/* sidebar */
.cw-sidebar-dark {
  background-color: #2b3648;
  color: #d1d9e6;
  min-height: 100vh;
}

.cw-sidebar-dark .nav-link {
  color: #d1d9e6;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0;
}

.cw-sidebar-dark .nav-link:hover,
.cw-sidebar-dark .nav-link.active {
  background-color: #3e4b61;
  color: white;
  border-left: 3px solid #d1d9e6;
}


.sidebar-dark .nav-link i {
  font-size: 1.25rem;
}

/* Nav */
.cw-avatar {
  object-fit: cover;
  object-position: top;
}


/* 4-number-card */
.cw-number-card{
  border: 0;
}

.cw-number-card:hover{
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}


.cw-secondy-title{
  color: #9FA2B4;
}

.cw-h2{
  font-size: 20px;
}

.cw-h3{
  font-size: 18px;
}

.cw-h4{
  font-size: 22px;
}

.cw-border{
  border: 1px solid #d1d9e6;
  border-radius: 5px;
}

.cw-chart img{
  width: 100%;
}
