/* 側邊欄的深色背景 */
.sidebar-dark {
  background-color: #2b3648; /* 接近截圖中的深藍灰色 */
  color: #d1d9e6;
  min-height: 100vh; /* 讓側邊欄至少佔滿整個視窗高度 */
}
/* 導覽列連結的樣式 */
.sidebar-dark .nav-link {
  color: #d1d9e6;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0;
}
.sidebar-dark .nav-link:hover,
.sidebar-dark .nav-link.active {
  background-color: #3e4b61; /* 懸停或選中時的背景色 */
  color: white;
  border-left: 3px solid #007bff; /* 模仿圖中的左側藍線 */
}

.sidebar-dark .nav-link i {
  /* 這裡設定您想要的大小 */
  /* fs-5 預設約等於 1.25rem */
  font-size: 1.25rem;
}

.cw-avatar {
  object-fit: cover;
  object-position: top;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: #9FA2B4 !important;
  /* --bs-nav-pills-link-active-color:rgba(55, 81, 255, 0.08)!important; */
}
