$main-gray-color: #d1d9e6;
$main-blue-color: #3e4b61;


/* For All */
.cw-h2{
  font-size: 20px;
}

.cw-h3{
  font-size: 18px;
}

.cw-h4{
  font-size: 22px;
}

.cw-border{
  border: 1px solid $main-gray-color;
  border-radius: 5px;
}

/* Sidebar */
.cw-sidebar-dark {
  background-color: #2b3648;
  color: $main-gray-color;
  min-height: 100vh;
}

.cw-sidebar-dark .nav-link {
  color: $main-gray-color;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0;
}

.cw-sidebar-dark .nav-link:hover,
.cw-sidebar-dark .nav-link.active {
  background-color: $main-blue-color;
  color: white;
  border-left: 3px solid $main-gray-color;
}

.cw-sidebar-dark .nav-link i {
  font-size: 1.25rem;
}

.cw-sidebar-dark img {
  max-height: 40px;
}

/* Nav */
.cw-avatar {
  object-fit: cover;
  object-position: top;
}

/* 4-number-card */
.cw-number-card{
  border: 0;
}

.cw-number-card:hover{
  color: --bs-primary;
  border: 1px solid --bs-primary;
}

.cw-secondy-title{
  color: #628141;
}

.cw-chart img{
  width: 100%;
}

/* Unresolved tickets & Tasks */
.cw-urgent{
  background-color: coral;
}

.cw-new{
  background-color: cadetblue;
}

.cw-danger{
  background-color:red;
}

/* RWD */
@media (min-width: 768px) {
  .cw-secondy-title{
    color: #9FA2B4;
  }
}

/* Modify default Bootstrap design */
